h1	{
	font-size: 100px;
color: #7d89ad;
font-family: courier new;
text-align: center;
font-weight: bold;
}

p	{font-style: ;
	text-decoration: underline;
	font-size: 20px;
	font-weight: bold;
	background-color: papayawhip;
}

h2 {font-weight: bold;
font-family: courier new; }