body {background-color: white;
	font-family: roboto;
	margin: 0;
	padding: 0px 300px;
	}

 img{  
	display: block;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%}

.me{ font-size: 20px;
	font-weight: bolder;}

	ul.navigation {background-color: #ffffff;
		position: fixed;
		width: 100%;
		margin-top: 0;
		padding: 20px 0px;

		}
	
	.navigation li{ display: inline;
    font-family: roboto;
    padding-right: 20px;
    }

	h1	{font-size: 60px;
	color: #7d89ad;
	font-family: "patua+One";
	text-align: left;
	font-weight: bold;
	line-height: 0;
	}

	h2	{font-size: 30px;  
	color: #7d89ad;
	font-family: "patua+One";
	text-align: left;
	line-height: 1
	}

ul {list-style-type: none;
    padding: 8px 8px;
	line-height: 20px;
	font-weight: normal;
	font-size: 16px;

	}

li a{color: #000;
	margin: 0;
	text-decoration: none;}

.bio {font-family: roboto;
	color: black;
	}

.column{font-family: roboto; 
		float: left;
    	width: 33.33%;
    	font-weight: bolder;
    	font-size: 20px;}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;}

p {color: #7d89ad;
font-size: 16px;}


.twitter {text-decoration: none;}
